* {margin: 0; padding: 0; outline: 0;}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 13px;
	background: #f0f0f0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}

p {
	margin: 0 0 15px 0;
}

header, footer {
	background-color: white;
}

header {
	margin-bottom: 50px;
}

footer {
	width: 100%;
	margin-top: 50px;
	position: fixed;
	bottom: 0px;
}

.wrap {
	width: 100%;
	max-width: 90%;
	min-width: 70%;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.wrap span {
	font-size: 3em;
	display: block;
	text-align: center;
}

.wrap span#whatviewport {
	color: black;
	margin-top: 1em;
}

.inner {
	width: 70%;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:30px 0;
}
